# Database (separate DB simulating the external hospital system)
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=SEP490_HIS
DB_SCHEMA=public
DB_LOGGING=false

# App
PORT=4000
NODE_ENV=development
